{# templates/bplan/index.html.twig #}
{% extends "base.html.twig" %}

{% block title %}Accueil | {{ parent() }}{% endblock %}

{% block body %}
<div class="container">
		<div class="row">
			{% for plan in plans %}
				<div class="col s12 m4 l3">
					<div class="article-card">
						<img src="{{ asset('uploads/' ~ plan.picture) }}" class="responsive-img">
						<h4><a href="{{ path('article_show', {'id': plan.id}) }}">{{ plan.title }}</a></h4>
						<span class="date">{{ plan.createdAt|date('d/m/Y') }}</span>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
